* {
  border: none;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
  margin: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: "nunito";
  padding-left: 40rem;
  background: #f2f2f2;
  color: #2A150D;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  position: fixed;
  background: #fff00a;
  top: 0;
  left: 0;
  bottom: 0;
  width: 40rem;
  min-height: 100vh;
  height: 100% auto;
  margin: auto;
  transition: 0.3s linear;
}
.sidebar-logo {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidebar-logo img {
  width: 20rem;
  height: 20rem;
}
.sidebar-logo h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  font-weight: 800;
  font-size: 4rem;
  color: #ff5100;
}
.sidebar-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.sidebar-menu ul li {
  text-align: center;
}
.sidebar-menu ul li:hover {
  color: rgba(255, 0, 0, 0.7176470588);
}
.sidebar-menu ul li:active {
  color: #6e0000;
}
.sidebar-menu ul li i {
  font-size: 2rem;
}
.sidebar-menu ul li a {
  font-weight: 800;
  letter-spacing: 0.3rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: #2A150D;
}
.sidebar-menu ul li a:hover {
  color: rgba(255, 0, 0, 0.7176470588);
}
.sidebar-menu ul li a:active {
  color: #6e0000;
}
.sidebar-orcamento button {
  padding: 1.6rem 2rem;
  font-weight: 600;
  background: #2A150D;
  border-radius: 10px;
  margin: 0 0 2rem 0;
}
.sidebar-orcamento button a {
  color: #ff5100;
  font-size: 2rem;
  padding: 3px;
  transition: 0.1s ease-in-out;
}
.sidebar-orcamento button a:hover {
  color: #fff00a;
  border-bottom: 2px solid #ff5100;
}
.sidebar-orcamento button a:active {
  color: rgba(255, 239, 10, 0.6705882353);
  border-bottom: 2px solid rgba(255, 81, 0, 0.6901960784);
}

#active {
  color: #a50000;
  border-bottom: 2px solid black;
  width: fit-content;
  margin: auto;
}

.mobile-btn {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  bottom: 0;
}
.mobile-btn button {
  font-size: 3rem;
  padding: 0.8rem;
  background: transparent;
  color: #2A150D;
  cursor: pointer;
  border: 2px solid #2A150D;
  border-radius: 10px;
}

section {
  min-height: 100vh;
  height: 500px auto;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loc {
  margin: 10rem 0 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.4rem;
}
.loc div i {
  font-size: 2rem;
  color: #146811;
}
.loc div span {
  font-weight: 700;
  font-size: 2rem;
}
.loc button {
  width: fit-content;
  text-align: center;
  margin: auto;
  padding: 1rem;
  border: 2px solid #2A150D;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s linear;
}
.loc button:hover {
  background: #fff00a;
  color: #146811;
}
.loc button a {
  font-size: 2rem;
  color: #2A150D;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
}
.loc button a:active {
  color: #146811;
}
.loc button i {
  font-size: 1.2rem;
}
.loc button i:first-child {
  font-size: 2.2rem;
}

.apresentacao {
  margin: 5rem 2rem;
  text-align: justify;
}
.apresentacao p {
  max-width: 600px;
  font-size: 1.8rem;
  border: 2px solid #2A150D;
  padding: 1.6rem;
  border-radius: 10px;
  background: #146811;
  color: #f2f2f2;
}

.saiba-mais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-itens: center;
  gap: 1.2rem;
  margin-bottom: 5rem;
}
.saiba-mais h4 {
  max-width: 580px;
  margin: auto 2rem;
  font-weight: 900;
  font-size: 2.4rem;
  text-align: center;
}
.saiba-mais a {
  cursor: pointer;
  width: fit-content;
  margin: auto;
  padding: 1rem;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.8rem;
  color: #2A150D;
  border: 2px solid #2A150D;
  transition: 0.2s ease-in-out;
}
.saiba-mais a i:last-child {
  color: #146811;
}
.saiba-mais a:hover {
  background: #fff00a;
}
.saiba-mais a:active {
  color: #146811;
}

.redes-sociais {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 2rem 10rem 2rem;
}
.redes-sociais h3 {
  font-size: 2rem;
  text-transform: uppercase;
  background: #146811;
  padding: 0.6rem;
  border: 2px solid #2A150D;
  border-radius: 10px 10px 0 0;
}
.redes-sociais div {
  margin-top: -6px;
  display: flex;
  background: #146811;
  border: 2px solid #2A150D;
  border-radius: 10px;
  gap: 2rem;
  padding: 1rem 2rem;
}
.redes-sociais div a {
  font-size: 4rem;
  cursor: pointer;
}

.fa-instagram {
  padding: 0.6rem;
  border-radius: 10px;
  background: linear-gradient(135deg, #405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
  color: #f2f2f2;
  transition: 0.2s linear;
}
.fa-instagram:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 4px 1px rgba(242, 242, 242, 0.4862745098);
}
.fa-instagram:active {
  color: rgba(242, 242, 242, 0.568627451);
}

.fa-facebook {
  padding: 0.6rem;
  border-radius: 10px;
  background: #4267B2;
  color: #f2f2f2;
  transition: 0.2s linear;
}
.fa-facebook:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 4px 1px rgba(242, 242, 242, 0.4862745098);
}
.fa-facebook:active {
  color: rgba(242, 242, 242, 0.568627451);
}

.fa-github {
  padding: 0.6rem;
  border-radius: 10px;
  background: #171515;
  color: #f2f2f2;
  transition: 0.2s linear;
}
.fa-github:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 4px 1px rgba(242, 242, 242, 0.4862745098);
}
.fa-github:active {
  color: rgba(242, 242, 242, 0.568627451);
}

@media (max-width: 420px) {
  html {
    font-size: 50%;
  }
  .loc div {
    display: none;
  }
  .loc button {
    margin: 2rem;
  }
  .loc button i {
    font-size: 1.6rem !important;
  }
  .loc button a {
    font-size: 1.6rem !important;
  }
}
@media (max-width: 1100px) {
  html {
    font-size: 55%;
  }
  body {
    padding: 0;
  }
  .mobile-btn {
    display: block;
  }
  .sidebar {
    display: flex;
    position: fixed;
    left: -2000px;
    width: 100%;
  }
  .sidebar-logo img {
    width: 15rem;
    height: 15rem;
  }
  .on {
    left: 0;
  }
}

/*# sourceMappingURL=inicio.css.map */
