@use 'variables'

* 
    border: none
    box-sizing: border-box
    padding: 0
    text-decoration: none
    margin: 0
    list-style: none
html
    font-size: 62.5%
body
    overflow-x: hidden
    font-family: 'nunito'
    padding-left: 40rem
    background: variables.$bg-color
    color: variables.$txt-color
.sidebar
    display: flex
    flex-direction: column
    justify-content: center
    gap: 4rem
    align-items: center
    position: fixed
    background: variables.$menu-bg-color
    top: 0
    left: 0
    bottom: 0
    width: 40rem
    min-height: 100vh
    height: 100% auto
    margin: auto
    transition: .3s linear
    &-logo
        margin: 2rem 0
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        img
            width: 20rem
            height: 20rem
        h1
            text-align: center
            font-family: Arial, Helvetica, sans-serif
            width: 100%
            font-weight: 800
            font-size: 4rem
            color: #ff5100
    &-menu
        ul
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            gap: 2rem
            li
                text-align: center
                &:hover
                    color: #ff0000b7
                &:active
                    color: #6e0000
                i
                    font-size: 2rem 
                a
                    font-weight: 800
                    letter-spacing: .3rem
                    font-size: 2rem
                    text-transform: uppercase
                    color: variables.$menu-txt-color    
                    &:hover
                        color: #ff0000b7
                    &:active
                        color: #6e0000
    &-orcamento
        button
            padding: 1.6rem 2rem
            font-weight: 600
            background: variables.$menu-txt-color
            border-radius: variables.$btn-radius
            margin: 0 0 2rem 0
            a
                color: #ff5100
                font-size: 2rem
                padding: 3px
                transition: .1s ease-in-out
                &:hover
                    color: variables.$menu-bg-color
                    border-bottom: 2px solid#ff5100
                &:active
                    color: #ffef0aab
                    border-bottom: 2px solid#ff5100b0
#active
    color: #a50000
    border-bottom: 2px solid black
    width: fit-content
    margin: auto
.mobile-btn
    display: none
    position: fixed
    top: 20px
    right: 20px
    bottom: 0
    & button
        font-size: 3rem
        padding: .8rem
        background: transparent
        color: variables.$txt-color
        cursor: pointer
        border: 2px solid variables.$txt-color
        border-radius: 10px
section
    min-height: 100vh
    height: 500px auto
    margin: auto
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    .trabalhos
        margin: 10rem 2rem 10rem 2rem
        display: flex
        justify-content: center
        align-items: center
        gap: 3rem
        flex-wrap: wrap
        max-width: 800px
        &-1
            background: variables.$box-color
            padding: 2rem
            border-radius: variables.$btn-radius
            text-align: center
            & h3
                font-size: 2.4rem
                font-weight: 800
                background: variables.$menu-bg-color
                width: fit-content
                margin: 1rem auto
                padding: .2rem
                border-radius: variables.$btn-radius
                border: 2px solid variables.$txt-color
                text-transform: uppercase
            & p
                margin: 1rem auto
                font-size: 1.8rem
                font-weight: 800
                color: variables.$bg-color
                border: 2px solid variables.$txt-color
                width: fit-content
                padding: .4rem
                border-radius: variables.$btn-radius
                max-width: 30rem
            & div
                display: flex
                justify-content: center
                align-items: center
                gap: 2rem
                & button
                    padding: 1rem
                    border-radius: variables.$btn-radius
                    background: variables.$txt-color
                    color: variables.$bg-color
                    font-weight: 600
                    border: 2px solid variables.$menu-bg-color
                    cursor: pointer
                    transition: .2s ease-in-out
                    &:hover
                        background: variables.$menu-bg-color
                        border: 2px solid variables.$txt-color
                        color: variables.$txt-color
                    &:active
                        color: #2a150d8e
            & img
                width: 30rem
                height: 30rem
        &-2
            background: variables.$box-color
            padding: 2rem
            border-radius: variables.$btn-radius
            text-align: center
            & h3
                font-size: 2.4rem
                font-weight: 800
                background: variables.$menu-bg-color
                width: fit-content
                margin: 1rem auto
                padding: .2rem
                border-radius: variables.$btn-radius
                border: 2px solid variables.$txt-color
                text-transform: uppercase
            & p
                margin: 1rem auto
                font-size: 1.8rem
                font-weight: 800
                color: variables.$bg-color
                border: 2px solid variables.$txt-color
                width: fit-content
                padding: .4rem
                border-radius: variables.$btn-radius
                max-width: 30rem
            & div
                display: flex
                justify-content: center
                align-items: center
                gap: 2rem
                & button
                    padding: 1rem
                    border-radius: variables.$btn-radius
                    background: variables.$txt-color
                    color: variables.$bg-color
                    font-weight: 600
                    border: 2px solid variables.$menu-bg-color
                    cursor: pointer
                    transition: .2s ease-in-out
                    &:hover
                        background: variables.$menu-bg-color
                        border: 2px solid variables.$txt-color
                        color: variables.$txt-color
                    &:active
                        color: #2a150d8e
            & img
                width: 30rem
                height: 30rem
        &-3
            background: variables.$box-color
            padding: 2rem
            border-radius: variables.$btn-radius
            text-align: center
            & h3
                font-size: 2.4rem
                font-weight: 800
                background: variables.$menu-bg-color
                width: fit-content
                margin: 1rem auto
                padding: .2rem
                border-radius: variables.$btn-radius
                border: 2px solid variables.$txt-color
                text-transform: uppercase
            & p
                margin: 1rem auto
                font-size: 1.8rem
                font-weight: 800
                color: variables.$bg-color
                border: 2px solid variables.$txt-color
                width: fit-content
                padding: .4rem
                border-radius: variables.$btn-radius
                max-width: 30rem
            & div
                display: flex
                justify-content: center
                align-items: center
                gap: 2rem
                & button
                    padding: 1rem
                    border-radius: variables.$btn-radius
                    background: variables.$txt-color
                    color: variables.$bg-color
                    font-weight: 600
                    border: 2px solid variables.$menu-bg-color
                    cursor: pointer
                    transition: .2s ease-in-out
                    &:hover
                        background: variables.$menu-bg-color
                        border: 2px solid variables.$txt-color
                        color: variables.$txt-color
                    &:active
                        color: #2a150d8e
            & img
                width: 30rem
                height: 30rem

@media (max-width: 1170px)
    html
        font-size: 55%
    body
        padding: 0
    .mobile-btn
        display: block
    .sidebar
        left: -2000px
        &-logo
            & img
                width: 15rem
                height: 15rem
    .on
        left: 0